{% extends 'base.jinja2' %}
{% block content %}
    <div class="container space">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAADYAAAAJDRkMWNhYTViLTA3OGMtNDFmMS04MzM4LTM0M2JhYjAyNzg0MQ.jpg"
             alt="profile picture"
             class="profile img-circle left">
    </div>
    <h2>Matthew Woo</h2>
    <div class="row">
        <div class="col-md-1 fav-padding">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-md-1">
                    <a class="twitter-handle" href="https://twitter.com/matthewedanwoo">@matthewedanwoo</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 fav-padding">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-md-1">
                    <a class="twitter-handle" href="mailto:matthew.edan.woo@gmail.com">matthew.edan.woo@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <h3> I’ve been in product for over 3 years, and focus on creating products that help improve productivity and workflows.
    </h3>
    <p class="bio">Most recently I built two slack bots; a data bot that helps query data and a read-it-later bot that sends a summary of links to your respective read it later app.
    </p>
    <p class="bio">I previously held positions at Intercom, Yo and Meetup. At Intercom, I built tools to improve both the efficiency and profitability of the sales team and at Yo I lead to major release both of which were featured in the App Store.
    </p>
    <p class="bio">Earlier in my career I worked as management consultant and launched my own mobile app <a href="http://www.blogto.com/tech/2012/06/get_to_know_a_toronto_startup_shore_up/">Shore Up</a>. I stay active in my community by helping run the <a class="text-link" href="http://www.meetup.com/SF-2x2-Beach-Volleyball-Meetup/">SF Beach Volleyball Meetup</a>.
    </p>
    <div class="page-header">
        <h3>Work Experience</h3>
    </div>
    <ul class="bio">
        <li>Intercom, Product Manager : Oct 2015 - Mar 2015</li>
        <li>Yo, Head of Product : Dec 2014 - Sep 2015 </li>
        <li>Meetup, APM : Oct 2013 - Oct 2014</li>
        <li>Simon-Kucher Partners, Consultant : Jul 2012 - Sep 2013</li>
    </ul>
    <br>
    <a class="btn btn-primary" href="https://www.dropbox.com/s/60e86qtqkksg48d/2016%20Matthew%20Woo%20Resume.pdf?dl=0">View Resume</a>
    <br>
    <br>
{% endblock %}