{% extends 'base.jinja2' %}
{% block content %}
    <div class="container space">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAADYAAAAJDRkMWNhYTViLTA3OGMtNDFmMS04MzM4LTM0M2JhYjAyNzg0MQ.jpg"
             alt="profile picture"
             class="profile img-circle left">
    </div>
    <h3>Matthew Woo</h3>
    <div class="row">
        <div class="col-md-1 fav-padding">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-md-1">
                    <a class="twitter-handle" href="https://twitter.com/matthewedanwoo">@matthewedanwoo</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 fav-padding">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-md-1">
                    <a class="twitter-handle" href="mailto:matthew.edan.woo@gmail.com">matthew.edan.woo@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h4>
    I’ve been in product for 4 years, and I’m obsessed about creating products that matter.
    </h4>
    <p class="bio">
    Over the years I’ve worked in all stages of a company’s life cycle learned how to lead in adversity, developed a robust product skillset and the importance of building trust in teams. By witnessing first hand how companies transition from each stage I have deep understanding what needs to be done and avoided to drive and sustain growth.
    </p>
    <p class="bio">
    Most recently I was a Product Manager at Intercom for Sales Experience, where I identified quick wins to improve the efficiency of their sales process and profitability. Prior to that I was Head of Product at Yo where I led the development of our Apple Watch App and the redesign of Yo, both of which was featured in Apple App Store. I was also an Associate Product Manager at Meetup where I developed their notification platform.
    </p>
    <p class="bio">
    Earlier in my career I worked as management consultant and launched my own mobile app Shore Up. I stay active in my community by helping run the SF Beach Volleyball.
    </p>
    <div class="page-header">
        <h3>Work Experience</h3>
    </div>
    <ul class="bio">
        <li>Intercom, Product Manager : Oct 2015 - Mar 2015</li>
        <li>Yo, Head of Product : Dec 2014 - Sep 2015 </li>
        <li>Meetup, APM : Oct 2013 - Oct 2014</li>
        <li>Simon-Kucher Partners, Consultant : Jul 2012 - Sep 2013</li>
    </ul>
    <br>
    <a class="btn btn-primary" href="https://www.dropbox.com/s/60e86qtqkksg48d/2016%20Matthew%20Woo%20Resume.pdf?dl=0">View Resume</a>
    <br>
    <br>
{% endblock %}